fastapi
uvicorn
google-genai>=0.7.2
langchain-google-genai>=1.0.8
langchain
# duckduckgo-search # Removido conforme instrução, substituído por ddgs
python-dotenv
langchain-community
ddgs>=5.0.0
llama-parse
python-multipart
pandas
numpy